{{#if @model}}
  <h1>
    Secret Codes
  </h1>

  <p>
    You have permission to view the secret codes. Lucky you!
  </p>

  <ul>
    {{#each @model as |code|}}
      <li><strong>{{code.description}}</strong></li>
    {{/each}}
  </ul>
{{else}}
  You shall not pass! 🚪
{{/if}}
